@page
@model IndexModel
@{
    ViewData["Title"] = "Equipo Rocket Enterprise";
}

<div class="text-center">
    <h1 class="display-4">Estamos Preparados</h1>
    <p>... <a href="https://docs.microsoft.com/aspnet/core">Para los problemas... y mas vale que teman.</a>.</p>
</div>
